{:paths ["src"
         "resources"]
 :deps
 {org.pinkgorilla/blessing {:local/root ".." :deps/manifest :deps}}
 :aliases
 {:blessing {:exec-fn modular.system/start!
             :exec-args {:profile "jetty"
                         :config ["config.edn"]
                         :services "services.edn"}}

;
  }}